

header{
    height: 100px;
    background-color: var(--color-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    
}
footer{
    height: 200px;
    background-color: var(--color-base);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main{
    
    display: flex;
    justify-content: center;

}

.table{
    width: 80%;
    
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0px 0px 35px black;
}

.titles{
    display: flex;
    flex-direction: row;
    
}
.u-title{
    width: 18.8%;
    height: 40px;
    border: 1px solid black;
    
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.id-user{
    width: 6%;
}
.user{
    display: flex;
    flex-direction: row;
}
.u-table{
    width: 18.8%;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.users-images img{
    width: 10px;
}

.user-id{
    justify-content: center;
    width: 6%;
}

